$width: 100px;

.loader {
  height: auto;
  width: $width;
  z-index: 2000;
  position: absolute;
  left: 50%;
  top: 50%;
  transition: .5s cubic-bezier(.34, 1.56, .64, 1);
  transform: translate(-50%, -50%);
  border-radius: 50%;
  box-sizing: border-box;
  opacity: 1;

  &:before {
    content: '';
    display: block;
    padding-top: 100%;
  }
}

.circular {
  animation: rotate 2s linear infinite;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  stroke-width: 0.3rem;
  animation: dash 2s ease-in-out infinite, 6s ease-in-out infinite;
  stroke: #5CBB79;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}