.bubble.is-date.is-sticky {
  opacity: .00001;
}

.bubbles-inner.is-scrolling .is-sticky {
  opacity: .99999 !important;
}

.bubble.service {
  align-self: center;
  justify-content: center;
  margin-bottom: .5rem;
}

.bubble.is-date {
  position: sticky;
  top: 0.25rem;
  z-index: 2;
  transition: opacity .3s ease;
  opacity: .99999;
  pointer-events: none;
}

.bubble-content {
  min-width: 56px;
  max-width: 100%;
  border-radius: 12px;
  box-shadow: 0 1px 2px 0 rgb(16 35 47 / 15%);
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  z-index: 2;
  background-color: #fff;
}

.bubble.service .service-msg {
  color: #fff;
  background-color: rgba(65, 115, 53, 0.44);
  font-size: 0.89rem;
  padding: 0.1rem 0.625rem;
  line-height: 1.25rem;
  border-radius: inherit;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  word-break: break-word;
}

.bubble.service .bubble-content {
  background-color: transparent;
  border-radius: 0.875rem;
}

@media (max-width: 600px) {

  .bubble.service .service-msg {
    padding: 0.15125rem 0.525rem;
  }
}
