.btn-icon {
  text-align: center;
  font-size: 1.5rem;
  line-height: 1;
  border-radius: 50% !important;
  color: #aaaaaa;
  background-color: transparent;
  border: none;
  outline: none;
  overflow: inherit !important;
  width: 2rem;
  height: 2rem;
  padding: 0.1rem;
  transition: color .15s ease-in-out,opacity .15s ease-in-out,background-color .15s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  & svg {
    height: 1rem;
    width: auto;
  }

  &.white {
    & svg path {
      fill: white;
    }
  }

  &.silver {
    & svg path {
      fill: #aaaaaa;
    }
  }

  &.blue {
    & svg path {
      fill: #3390ec;
    }
  }

  &:hover {
    background-color: rgb(0 0 0 / 11%);
  }
}

.btn-icon.input {
  margin: 0.6rem 0.2rem;
}

.btn-icon {
  &.send {
    & svg {
      width: 1.7rem;
      height: auto;
      position: absolute;
      &:nth-child(1) {
        animation: grow-icon .4s forwards ease-in-out !important;
      }

      &:nth-child(2) {
        animation: hide-icon .4s forwards ease-in-out !important;
      }

      &:nth-child(3) {
        animation: hide-icon .4s forwards ease-in-out !important;
      }
    }
  }

  &.microphone {
    & svg {
      width: 1.7rem;
      height: auto;
      position: absolute;
      &:nth-child(1) {
        animation: hide-icon .4s forwards ease-in-out !important;
      }

      &:nth-child(2) {
        animation: grow-icon .4s forwards ease-in-out !important;
      }

      &:nth-child(3) {
        animation: hide-icon .4s forwards ease-in-out !important;
      }
    }
  }

  &.check {
    & svg {
      height: auto;
      position: absolute;
      width: 1.1rem;
      &:nth-child(1) {
        animation: hide-icon .4s forwards ease-in-out !important;
      }

      &:nth-child(2) {
        animation: hide-icon .4s forwards ease-in-out !important;
      }

      &:nth-child(3) {
        animation: grow-icon .4s forwards ease-in-out !important;
      }
    }
  }

  &.emoji {
    & svg {
      width: 1.7rem;
      height: auto;
      position: absolute;
      &:nth-child(1) {
        animation: grow-icon .4s forwards ease-in-out !important;
      }

      &:nth-child(2) {
        animation: hide-icon .4s forwards ease-in-out !important;
      }
    }
  }

  &.keyboard {
    & svg {
      width: 1.7rem;
      height: auto;
      position: absolute;
      &:nth-child(1) {
        animation: hide-icon .4s forwards ease-in-out !important;
      }

      &:nth-child(2) {
        animation: grow-icon .4s forwards ease-in-out !important;
      }
    }
  }
}

@keyframes hide-icon {
  0% {
    transform: scale(1);
    opacity: .4;
  }
  100% {
    transform: scale(0.5);
    opacity: 0;
  }
}

@keyframes grow-icon {
  0% {
    transform: scale(0.5);
    opacity: .8;
  }
  50% {
    transform: scale(1.1);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}

.btn-primary {
  border: none;
  border-radius: 10px;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  align-items: center;
  background-color: white;
  color: #000;
  display: flex;
  font-weight: 500;
  height: 3.4rem;
  font-size: 1rem;
  line-height: 1.3125;
  padding: 0 1rem;
  margin: 0 auto;
  margin-top: .5rem;
  margin-bottom: 1rem;
  flex-direction: column;
  justify-content: center;
  text-transform: uppercase;
  transition: background-color .2s,opacity .2s;
  z-index: 3;
  flex: 0 0 auto;

  &:hover {
    background-color: #f4f4f5;
  }
}

@media (max-width: 600px) {
  .btn-primary {
    width: 100%;
    padding: 0;
    margin-bottom: 0;
    border-radius: 0;
  }
}