.btn-icon {
  text-align: center;
  font-size: 1.5rem;
  line-height: 1;
  border-radius: 50% !important;
  color: #aaaaaa;
  background-color: transparent;
  border: none;
  overflow: inherit !important;
  width: 2rem;
  height: 2rem;
  padding: 0.1rem;
  transition: color .15s ease-in-out,opacity .15s ease-in-out,background-color .15s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  & svg {
    height: 1rem;
    width: auto;
    & path {
      fill: #aaaaaa;
    }
  }

  &:hover {
    background-color: rgba(112, 117, 121, 0.08);
  }
}