.chat-background, .chat-background-item {
  bottom: 0;
  left: 0;
  position: absolute!important;
  right: 0;
  top: 0;
}

.chat-background {
  //background-color: #e6ebee;
  overflow: hidden;
}

.chat-background-item.is-pattern {
  align-items: center;
  //background-color: #000!important;
  background-image: none!important;
  background-repeat: repeat-x;
  background-size: contain;
  display: flex;
  justify-content: center;
  margin: 0!important;
}

.chat-background-item-color-canvas {
  height: 100%;
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-size: cover;
  mask-size: cover;
}
.chat-background-item-canvas {
  --opacity-max: 1;
  opacity: var(--opacity-max);
  position: absolute;
  width: 100%;
}

.chat-background-item:not(.is-dark) .chat-background-item-pattern-canvas {
  mix-blend-mode: overlay;
}
.chat-background-item:not(.is-dark) .chat-background-item-pattern-canvas {
  mix-blend-mode: overlay;
}
.chat-background-item-canvas {
  --opacity-max: 1;
  opacity: var(--opacity-max);
  position: absolute;
  width: 100%;
}