.whole {
  height: 100%;
  margin: 0 auto;
  min-height: 100%;
  width: 100%;
}

.page-chats {
  display: flex;
}

.page-chats #main-columns {
  height: 100%;
  max-height: 100%;
  min-height: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.tabs-container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
  min-width: 100%;
  width: 100%;
}

@media only screen and (max-width: 600px) {
  .page-chats .main-column {
    display: flex!important;
    width: 100%;
    z-index: 1;
  }
}

.tabs-container .tabs-tab {
  background: url('https://web.telegram.org/k/assets/img/pattern.svg'), linear-gradient(-30deg, #dbddbb,#6ba587,#d5d88d,#88b884);
  background-size: contain;
  background-position: center center;
  background-repeat: repeat;
  background-blend-mode: soft-light;
  flex-direction: column;
  grid-column-start: 1;
  grid-row-start: 1;
  overflow: hidden;
}

.chats-container {
  height: 100%;
}

.tabs-container .tabs-tab.active {
  display: flex;
}

.chat-background, .chat-background-item {
  bottom: 0;
  left: 0;
  position: absolute!important;
  right: 0;
  top: 0;
}

.chat-background {
  //background-color: #e6ebee;
  overflow: hidden;
}

.chat-background-item.is-pattern {
  align-items: center;
  //background-color: #000!important;
  background-image: none!important;
  background-repeat: repeat-x;
  background-size: contain;
  display: flex;
  justify-content: center;
  margin: 0!important;
}

.chat-background-item-color-canvas {
  height: 100%;
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-size: cover;
  mask-size: cover;
}
.chat-background-item-canvas {
  --opacity-max: 1;
  opacity: var(--opacity-max);
  position: absolute;
  width: 100%;
}

.chat-background-item:not(.is-dark) .chat-background-item-pattern-canvas {
  mix-blend-mode: overlay;
}
.chat-background-item:not(.is-dark) .chat-background-item-pattern-canvas {
  mix-blend-mode: overlay;
}
.chat-background-item-canvas {
  --opacity-max: 1;
  opacity: var(--opacity-max);
  position: absolute;
  width: 100%;
}