.import {
  background-color: transparent;
  position: absolute;
  border-radius: 12px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: whitesmoke;
  transition: color .2s ease-in-out;
  pointer-events: all;
  flex: 1 1 auto;
  max-width: 360px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  --wrapper-padding: 15px;
}

.import-subtitle {
  user-select: none;
  color: whitesmoke;
  line-height: 1.35;
  font-size: 14px;
  text-align: center;
  margin-top: 0;
  margin-bottom: .5rem;
}

.import-button {
  background-color: #5f99ca;
  color: #fff;
  border-radius: 12px;
  width: 100%;
  text-align: center;
  height: 50px;
  font-size: .9rem;
  border: none;
  font-weight: 400;
  outline: none;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  text-transform: uppercase;
  padding: 0;
  transition: .4s background-color,.4s opacity;

  &:hover {
    background: #5283aa;
    color: whitesmoke;
  }

  &:disabled {
    cursor: unset;
    opacity: .5;
    background: #5283aa;
  }
}