.import {
  --wrapper-padding: -4px;
  background-color: transparent;
  position: absolute;
  border-radius: 12px;
  width: 90%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #a2acb4;
  transition: color .2s ease-in-out;
  pointer-events: all;
  flex: 1 1 auto;
}

.import-icon {
  font-size: 6rem;
}

.import-outline-path {
  fill: none;
  stroke-dasharray: 13.5,11;
  stroke: #a2acb4;
  stroke-width: 2;
  stroke-linecap: round;
  transition: stroke .2s ease-in-out;
  stroke-dashoffset: 0;
}

.import-header:not(:last-child) {
  margin-top: -10px;
}

@media only screen and (max-height: 670px) {
  .import-header {
    margin-top: 0px;
  }
  .import-header {
    font-weight: 500;
    font-size: 1.25rem;
  }
}

.import {
  max-width: 360px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  --wrapper-padding: 15px;
}

.import-title {
  color: #3390ec;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  user-select: none;
  margin: 0;
}

.import-subtitle {
  user-select: none;
  color: #707579;
  line-height: 1.35;
  font-size: 14px;
  text-align: center;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 1rem;
}

.import-toggle {
  font-size: 15px;
  text-decoration: underline;
  transition: .5s;
  &:hover {
    text-decoration: none;
    color: #3390ec;
  }
}

.import-inner {
  width: 100%;
  display: none;
  transition: 0.5s opacity;
  &.active {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
}

.import-input {
  padding: 1rem;
  background-color: #fff;
  transition: 0.2s;
  outline: none;
  width: 100%;
  max-height: 50px;
  margin-bottom: .5rem;
  border-radius: 12px;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  caret-color: #3390ec;
  font-size: 16px;
  border: 1px solid #dfe1e5;
  box-sizing: border-box;

  &::placeholder {
    color: #a2acb4;
    font-size: 16px;
    overflow: hidden;
    user-select: none;
    pointer-events: none;
  }
}

.import-button {
  background-color: #3390ec;
  color: #fff;
  margin-bottom: .5rem;
  border-radius: 12px;
  width: 100%;
  text-align: center;
  height: 50px;
  font-size: .9rem;
  border: none;
  font-weight: 500;
  outline: none;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  //text-transform: uppercase;
  padding: 0;
  transition: .4s background-color,.4s opacity;
  &:hover {
    background-color: #1f7cdc;
    color: whitesmoke;
  }

  &:disabled {
    cursor: unset;
    opacity: .5;
    background-color: #3390ec;
  }

  &.toggle {
    background: transparent;
    font-weight: 400;
    color: #3390ec !important;
    font-size: .9rem;
    &:hover,&:focus {
      background: rgba(51, 144, 236, 0.08);
    }
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
