:host {
  --translateY: 0;
  width: 100%;
  flex:  1 auto;
  position: relative;
  transform: translate3d(0, var(--translateY), 0);
  transition: transform .25s cubic-bezier(.4, .0, .2, 1);
}

.bubbles-inner {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  min-height: 100%;
  justify-content: flex-end;
  padding: 0 0.8125rem;
  max-width: 700px;
  transition: transform .25s cubic-bezier(.4, .0, .2, 1);
  transform: translateY(0);
}

.bubbles-date-group {
  position: relative;
  margin-bottom: .3rem;
}
