
.scrollable.scrollable-y {
  overflow-y: auto;
  overflow-y: overlay;
  scrollbar-width: thin;
  -ms-overflow-style: none;
  transform: translateZ(0);
}

.bubbles>.scrollable {
  height: auto;
  display: block;
}

.scrollable {
  width: 100%;
  height: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
  max-height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  -webkit-overflow-scrolling: touch;
}