.scrollable.scrollable-y {
  -ms-overflow-style: none;
  overflow-y: auto;
  overflow-y: overlay;
  scrollbar-color: transparent transparent;
  scrollbar-width: thin;
  transform: translateZ(0);
}

.bubbles>.scrollable {
  display: block;
  height: auto;
}

.bubbles>.scrollable {
  display: block;
  height: auto;
}

//.scrollable {
//  -webkit-overflow-scrolling: touch;
//  bottom: 0;
//  height: 100%;
//  left: 0;
//  max-height: 100%;
//  overflow-x: hidden;
//  overflow-y: hidden;
//  position: absolute;
//  right: 0;
//  top: 0;
//  width: 100%;
//}


.scrollable:hover::-webkit-scrollbar-thumb {
  min-height: 5rem;
  max-height: 12.5rem;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, .2);
  -webkit-backdrop-filter: blur(100);
  backdrop-filter: blur(100);
  opacity: 1;
}

.scrollable::-webkit-scrollbar {
  height: 0;
  opacity: 0;
  width: 0.375rem;
}

.scrollable::-webkit-scrollbar-thumb {
  width: 0px;
  height: 0;
}

.scrollable::-webkit-scrollbar-thumb {
  opacity: 0;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}