.chat-input {
  width: 100%;
  display: flex;
  justify-content: center;
  flex: 0 0 auto;
  --translateY: 0;
  --padding-bottom: 0.5rem;
  --bottom: 1.25rem;
  max-width: 100%;
  padding-top: 0.25rem;
  flex-direction: column;
  margin: 0 auto;
  position: relative;
  transition: transform .25s cubic-bezier(.4, .0, .2, 1);
  transform: translate3d(0, var(--translateY), 0);
}

.chat-input-container {
  display: flex;
  align-items: flex-end;
  width: 100%;
  justify-content: center;
  margin: 0 auto;
  flex: 0 0 auto;
  position: relative;
}

.rows-wrapper-wrapper {
  width: 100%;
  display: flex;
}

.rows-wrapper {
  transform: translateX(0) scaleX(1);
  border-bottom-right-radius: 0;
}

.chat-input-wrapper {
  --padding-vertical: .3125rem;
  --padding-horizontal: 0.5rem;
  --padding: .3125rem 0.5rem;
  --button-size: 2.125rem;
  --button-horizontal-margin: .125rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  max-width: 100%;
  justify-content: center;
  border-radius: 12px;
  min-height: 3.375rem;
  max-height: 30rem;
  flex: 0 0 auto;
  position: relative;
  z-index: 3;
}

.new-message-wrapper {
  --chat-input-inner-padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  box-shadow: 0 0.25rem 0.5rem 0.1rem rgb(0 0 0 / 20%);
  position: relative;
  background-color: #fff;

  & button {
    &:first-child {
      margin-left: .7rem;
    }
    &:last-child {
      margin-right: .7rem;
    }
  }
}

.rows-wrapper .input-message-container {
  width: 1%;
  max-height: inherit;
  flex: 1 1 auto;
  position: relative;
  overflow: hidden;
  align-self: center;
  min-height: calc(3.375rem - .3125rem * 2);
  display: flex;
  align-items: center;
}

.input-message-input {
  transition: height .1s;
}

.input-message-container>.scrollable {
  position: relative;
}

.chat-input .input-message-input {
  background: none;
  width: 100%;
  padding: 1rem 0rem;
  max-height: calc(30rem - 2.5rem);
  overflow-y: unset;
  resize: none;
  border: none;
  padding-left: .5rem;
  outline: none;
  font-size: 17px;
  line-height: 1.3125;
}

[contenteditable=true] {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
  outline: none;
  cursor: text;
  white-space: pre-wrap;
}

input {
  caret-color: #3390ec;
  color: #000;
  background-color: transparent;
}

.scrollable {
  width: 100%;
  height: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
  max-height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  -webkit-overflow-scrolling: touch;
}

[contenteditable][data-placeholder]:empty:before {
  content: attr(data-placeholder);
  color: #a2acb4;
  display: block;
  pointer-events: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.rows-wrapper .bubble-tail {
  position: absolute;
  display: none;
  bottom: -2.5px;
  right: -9px;
  width: 11px;
  height: 20px;
  transform: scaleX(-1);
}

.animated-button-icon>.tgico {
  width: 1.7rem;
  height: auto;
  position: absolute;
  line-height: 24px;

  & path {
    fill: whitesmoke;
  }
}

@media (max-width: 600px) {
  .chat-input-message {
    font-weight: 500;
  }

}

@media only screen and (min-width: 601px) {
  .chat-input {
    --padding-bottom: 1.25rem;
  }
}

@media only screen and (min-height: 570px) and (min-width: 601px) {
  .chat-input {
    max-width: 700px !important;
  }

  .new-message-wrapper {
    border-radius: 0.75rem;
    border-bottom-right-radius: 0;
  }

  .rows-wrapper-wrapper {
    padding: 0 1rem;
  }

  .chat-input-container {
    max-width: 100%;
    padding-bottom: 1rem;
  }
  .rows-wrapper .bubble-tail {
    display: block;
  }
}
