.input-message-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-shadow: 0 0.25rem 0.5rem 0.1rem rgb(0 0 0 / 20%);
  background-color: #212121;

  & button {
    margin-right: 0.7rem;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    margin-top: 5px;
    outline: none;

    & svg {
      width: 2rem !important;
      height: auto;
      transform: rotateZ(45deg);
      & path {
        transition: .2s;
        fill: #585858;
      }
    }

    &:hover {
      & svg path {
        fill: #6593c9;
      }
    }
  }
}


.chat-tools .input-message-input {
  background: none;
  width: 100%;
  padding: 1rem 0rem;
  overflow-y: unset;
  resize: none;
  border: none;
  outline: none;
  padding-left: 1rem !important;
  font-size: 16px;
  line-height: 1.3125;
}